<% content_for :title, "Forgot Password" %>

<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">We get it, stuff happens. Just enter your email address below
                    and we'll send you a link to reset your password!</p>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <div class="form-group">
                    <input type="email" name="user[email]" class="form-control form-control-user"
                        id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter Email Address...">
                </div>
                <button class="btn btn-primary btn-user btn-block">
                    Reset Password
                </button>
            <% end %>
            <hr>
            <div class="text-center">
                <a class="small" href="<%= new_registration_path(resource_name) %>">Create an Account!</a>
            </div>
            <div class="text-center">
                <a class="small" href="<%= new_session_path(resource_name) %>">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>